@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1e293b;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

#root {
  width: 100%;
}

@theme {
  --color-primary: #10b981;
  --color-secondary: #64748b;
  --color-accent: #059669;
  --color-background: #ffffff;
  --color-card: #ffffff;
  --color-text: #0f172a;
  --color-border: #f1f5f9;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}